.chip {
  margin: 5px 5px 5px 5px;
  }

.subtitle {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  margin-top: 10px;
  }

.spacing {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  