  .container {
    margin-top: 15px;
    padding-right: 30px;
    padding-top: 20px;
   }
   
   .title {
    margin-bottom: 15px;
   }
   
   .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
   }
   
   .form-control {
    margin: 10px 0px;
    min-width: 200px;
   } 
    
   .small-button-label {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 2em;
   }

   .css-1nrlq1o-MuiFormControl-root{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
   }

